header {
  margin-top: 120px;
  height: 400px;
  width: 100%;
  background-color: #a32110;
  background-image: url("https://www.transparenttextures.com/patterns/dust.png");
  position: relative;
}

header div {
  position: absolute;
  text-align: center;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}
