.tweet{
  border: 3px solid #545149 ;
  width: 100%;
  margin-bottom: 30px;
}


.tweet:hover {
  box-shadow: 10px 10px #4056A1;
}

.tweet .hide {
  visibility: hidden;
}
.tweet:hover .hide{
  visibility: visible;
}

.tweet .light {
  opacity: 0.6;
}

.tweet:hover .light{
  opacity: 1;
}

.tweet header {
  width: 100%;
}

.tweet header img {
  width: 8%;
  height: 100%;
  float: left;
  margin: 5px 15px 0px 10px;

}

.userInfo{
  padding-top: 40px;
}

.tweet header small {
  font-size: 25px;
  float: right;
  padding-right: 30px;
  color: rgb(184, 184, 184);
}

.tweet .tweet-text {
  margin-top: 30px;
  width: 98%;
  border-bottom: 3px solid #545149 ;
  transform: translateX(1%);
  padding: 10px;
}

.tweet footer{
  width: 100%;
  padding: 30px;
}

.tweet footer .reaction {
  float: right;
}